<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
<div class="header">
    <a href="/" class="logo" style="width: 103px;"><img style="width: 100px;" src="https://www.dariawan.com/media/images/tech-spring-security.width-1024.png"></a>
    <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="/hello" >Hello Word</a>
        <a href="/albums">Albums</a>
        <a href="/songs">Songs</a>
        <a href="/capitalize/Hello">Capitalize Words</capitalize></a>
        <a href="/fact?num=1">Number Fact</a>
    </div>
</div>
<form action="/album" class="formB"  method="post">
    <h3>Add Album</h3>
    <label>
        Title:
        <input type="text" th:name="title" id = "title">
    </label>
    <br>
    <label>
        Artist:
        <input type="text" th:name="artist" id = "artist">
    </label>
    <br>
    <label>
        Image Url:
        <input type="text" th:name="imageUrl" id = "imageUrl">
    </label>
    <br>
    <label>
        Song Count:
        <input type="number" th:name="songCount" id = "songCount">
    </label>
    <br>
    <label>
        Length:
        <input type="number" th:name="length" id = "length" step="any">
    </label>
    <br>
    <input type="submit" value="Submit" class="button"/>
</form>
<h2 class="headers">All Albums</h2>
<div class="row" >
    <div class="column" th:each = "album : ${albums}" >
        <div class="card">
            <form style="width= 100%" action="/album-update" id="update" hidden  method="get">
                    <h3>Update Album</h3>
                    <label>
                        Title:
                        <input type="text" th:name="title">
                    </label>
                    <br>
                    <label>
                        Artist:
                        <input type="text" th:name="artist">
                    </label>
                    <br>
                    <label>
                        Image Url:
                        <input type="text" th:name="imageUrl">
                    </label>
                    <br>
                    <label>
                        Song Count:
                        <input type="number" th:name="songCount">
                    </label>
                    <br>
                    <label>
                        Length:
                        <input type="number" th:name="length" step="any">
                    </label>
                <input th:value="${album.id}" type="text" th:name="id" hidden/>

                <br>
                <br>

                <p>
                        <input type="submit" value="Submit" class="button"/>
                    </p>
                </form>

            <div hidden id = "back">
            <input type="submit" value="Back to data"  onclick="toggle()" class="button" />
            </div>
            <div id="card">

            <img th:src="${album.imageUrl}"  style="width:100%" class="img"/>
                <a  th:href="@{'/albumSongs/' + ${album.id}}">View & update Album Details and songs</a>

                <h4>Title: </h4><p th:text="${album.title}"></p>
            <h4>Artist: </h4><p th:text="${album.artist}"></p>
            <h4>Song Count: </h4><p th:text="${album.songCount}"></p>
            <h4>Length: </h4><p th:text="${album.length}"></p>
            <form action="/delete_album"  method="get">
                <input th:value="${album.id}" type="text" th:name="id" hidden/>
                <input type="submit" value="Delete" class="button"/>
            </form>
            <input type="submit" value="Update Album" onclick="toggle()" class="button"/>
            </div>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
function toggle(){
$("#update").toggle();
$("#card").toggle();
$("#back").toggle();
}

</script>
</body>
</html>